body {
    margin: 0;
    background: white;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

img {
   
}
/* classes */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    height: 300px;
    color: #f9faf8;

}

.section-2 {
    text-align: center;
    height: 200px;
}

.info-section {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    justify-content: space-around;
}

.info-col {

}

.info-img {

}

.quote-section {
    background-color: #e5e7eb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.action-section {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: whitesmoke;
    margin: 50px auto 50px auto;
    width: 70%;
    padding: 0 20px 0 20px;
    border-radius: 3px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: whitesmoke;
    padding-top: auto;
    padding-bottom: auto;
}

/* id */

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
}

#info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}}

#hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#hero-button {
    background-color: #3882f6;
    border-radius: 5px;
    color: whitesmoke;
    border: 1.5px solid #3882f6;
}

#action-button {
    background-color: #3882f6;
    color: whitesmoke;
    margin-top: 22px;
    min-width: 40px;
    border: 1.5px solid whitesmoke;
    padding: 0px 10px 0px 10px;
}